<div class="container">
  <div class="row">
    <div class="col-md-3">
      <h1>Bookersについて</h1>
    </div>

    <div>
      <p>Bookersとは、今までに読んできた書籍に関する意見や感想を投稿し</p>
      <p>さまざまな人々と、情報を交換することができます。</p>
      <p>それでは本の世界をお楽しみください！！！</p>
    </div>

    <div>
      <%= link_to "Start", books_path, class:"btn btn-success" %>
      <%= link_to "Back" ,root_path, class:"btn btn-danger" %>
    </div>

  </div>
</div>